@font-face {
    font-family: raleway;
    src: url("../../font/Raleway-Regular.ttf");
}
@font-face {
    font-family: fashionism;
    src: url("../../font/fashr954.ttf");
}
@font-face {
    font-family: nexa;
    src: url("../../font/Nexa Light.otf");
}
*{
	font-family: raleway;
	font-size: 12pt;
}

/*NAVBAR*/

/*
 * Custom styles
 */
.logo{
	max-height: 30px;
}
.nav>li>a{
	color:white !important;
}
.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.nav>li>a:focus, .nav>li>a:hover {
	background: #0AB0DA;
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin: 0;
}

.navbar-header .glyphicon-menu-hamburger {
	color: white;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
/*END NAVBAR*/

/*HISTORY TIMELINE*/
.container-fluid.history{
			background-color: black;
		}
		#animate1 {
			transition: transform 0.3s ease-out;
		}
				#animate2 {
			transition: transform 0.3s ease-out;
		}
		.zap {
			transform: scale(2.5, 0);
		}

		.history-content p{
			font-size: 14pt
		}
		.timeline{
			color: white;
		}
		.timeline>li{
			margin-bottom: 80px;
		}
		.timeline-panel, .timeline-badge{
			opacity: 0;
		}
		.item-show{
			opacity: 1;
		}
		.timeline:before {
				top:              0;
				bottom:           0;
				position:         absolute;
				content:          " ";
				width:            5px;
				background-color: #eeeeee;
				left:             50%;
				margin-left:      -2.5px;
		}
/*END HISTORY TIMELINE*/

.vision-mission{
	font-family: fashionism;
	font-size: 60pt;
	color: #0FB1DE;
}